# Never lint node_modules
node_modules

# Never lint build output
dist

# Never lint webpack file
webpack.config.js

# Nexer lint stories
packages/web-components/src/**/*.stories.ts

# Nexer lint spec
packages/web-components/src/**/*.spec.ts

# Nexer lint test build output
out
coverage